<section class="row m-auto py-2 album">
    <div class="col">

        <div class="card">
            <h5 class="card-title text-center">{{album_name}}</h5>
            <img src="/assets/artCovers/{{image}} " class="card-img-top" alt="{{image}}">
            {{#each songs as |song|}}

            <li><a href="{{youtube}}"></a>{{song_name}}</a></li>
            <span>
                <button class="btn" type="button" style='font-size:2rem; display:inline-block'
                    data-content="{{youtube}}" data-id='{{id}}'>♡</button>
            </span>
            {{/each}}
            {{#each songs as |song|}}
            <iframe width="560" height="315" src="{{youtube}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            {{/each}}
            {{#each songs as |song|}}
            <audio controls>
                <source src="/assets/audio/{{audio}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            {{/each}}

            <a>{{youtube}}</a>
            </iframe>

        </div>
    </div>
</section>
<script src='/js/playlist.js'></script>