<div class="row">
    <div class='p-3 text-white bg-dark col-4'>
        <h2>Which Artist would you like?</h2>
        <h4>{{artist.artist_name}}</h4>
    </div>
    <div class="gallery col-8 row">
        {{#each artist.albums as |album|}}
        <section class="row m-auto py-2 album">
            <div class="col">
                <div class="card">
                    <h5 class="card-title text-center">{{album_name}}</h5>
                    <img src="/assets/artCovers/{{image}} " class="card-img-top img-fluid rounded mx-auto d-block"
                        alt="{{image}}" style="width: 500px; height: 500px">
                    {{#each songs as |song|}}

                    <li><a href="{{youtube}}"></a>{{song_name}}</a></li>
                    <span>
                        <button class="btn" type="button" style='font-size:2rem; display:inline-block'
                            data-content="{{youtube}}" data-id='{{id}}' data-name='{{song_name}}'
                            data-audio='{{audio}}'>♡</button>
                    </span>
                    {{/each}}
                    {{#each songs as |song|}}
                    <iframe width="560" height="315" src="{{youtube}}" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    {{/each}}
                    {{#each songs as |song|}}
                    <audio controls class="bg-warning">
                        <source src="/assets/audio/{{audio}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    {{/each}}

                    <a>{{youtube}}</a>
                    </iframe>


                    {{#each songs as |song|}}
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <input id="title" type="hidden"><input id="artist" type="hidden">
                    <button onclick="findlyrics()">Show Lyrics for {{song_name}}</button>
                    <div id="output"></div>
                    <script>
                        function findlyrics() {
                            $.get("https://api.lyrics.ovh/v1/" + "{{@root.artist.artist_name}}" + "/" + "{{song_name}}",
                                function (data) {
                                    document.getElementById("output").innerHTML = data.lyrics.replace(new RegExp("\n", "g"), "<br>")
                                })
                            console.log(findlyrics)
                        }
                    </script>
                    {{/each}}

                </div>
            </div>
        </section>
        <script src='/js/playlist.js'></script>
        {{/each}}
    </div>
</div>